div.createQuizContainer {
	border: 1px solid pink;
	form {
		border: 1px dashed black;
		padding: 1em;
		div.input-row {
			border: 2px dashed yellow;
			label {
				border: 1px solid black;
			}
			input {
				border: 1px solid black;
				// width: 100%;
				// padding: 0.5em;
				&[type='text'] {
					// width: 60%;
					border-radius: 0.5em;
					box-shadow: 2px 2px black;
					&:hover {
						cursor: pointer;
					}
					&:focus {
						outline: none;
						border: 1px solid $NAVY_BLUE;
						cursor: text;
					}
				}
			}
		}
	}
}
